alabaster==0.7.12
altgraph==0.17
astroid==2.2.5
Babel==2.9.0
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.1
docutils==0.16
future==0.18.2
idna==2.10
imagesize==1.2.0
importlib-metadata==3.10.0
isort==4.3.21
Jinja2==2.11.3
lazy-object-proxy==1.4.1
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.20.1
numpydoc==1.1.0
packaging==20.9
pefile==2019.4.18
Pygments==2.8.1
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pylint==2.3.1
pyparsing==2.4.7
PySide2==5.15.2
pytz==2021.1
pywin32-ctypes==0.2.0
PyYAML==5.4.1
Qt.py==1.3.3
requests==2.25.1
shiboken2==5.15.2
six==1.12.0
snowballstemmer==2.1.0
Sphinx==3.5.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
typed-ast==1.4.0
typing-extensions==3.7.4.3
urllib3==1.26.4
whichcraft==0.6.1
wrapt==1.11.2
zipp==3.4.1
